
<div class="container">
  <h1>Listing TV Shows</h1>
  <h3>Title, Main Actor, and Genre</h3>
    <tbody>
      <% @tv_shows.each do |tv_show| %>
        <tr>
          <td><%= tv_show.title %></td>
          <td><%= tv_show.main_actor %></td>
          <td><%= tv_show.genre %></td>
          <td><%= link_to 'Show', tv_show %></td>
          <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
          <td><%= link_to 'Destroy', tv_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr><br>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Tv show', new_tv_show_path %>
</div>
