<h1>Listing Organizations</h1>

<h3>Name of Organization, Number of Employees</h3>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><b><%= organization.name %></b></td>
        <td><%= organization.number_of_employees %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
